{erl_opts, [debug_info]}.
{deps, [ranch]}.
%%{deps, [{ranch, "1.0.0"}]}.

{relx, [{release, {'test',
        "1.0.0"
        },
         [ranch,
          kernel,
          sasl]},

        {dev_mode, false},
        {include_erts, true},
        {system_libs, true},
        {mod_cond, all},
        {extended_start_script, true}
        ]
}.
